<div class="container container-column">
  <div class="container container-row">
    <div>
      Stones left: 9 Stones on board: 0 Stones lost: 0
    </div>
    <div>
      <span class="btn restart"><a href="javascript:void(0);"></a></span>
      <span class="btn save"><a href="javascript:void(0);"></a></span>
      <span class="btn load"><a href="javascript:void(0);"></a></span>
    </div>
    <div>
      Stones left: 9 Stones on board: 0 Stones lost: 0
    </div>
  </div>
  <div class="container center-container-content" id="game-area">
    <div class="container">
      <app-game-board></app-game-board>
    </div>
  </div>
</div>



